:root{
  --addDatesPosition: 7.3%;
  --addDatesPositionLG: 6%;
  --addDatesPositionMD: 8%;
}
@font-face {
    font-family: ArcaMajora;
    src: url(../fonts/ArcaMajora3-Heavy.otf);
}
/* Elements */
body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
a{
  color: #de6f00;
}
.titulo{
  font-family: ArcaMajora;
  font-size: 5rem
}
.green-context{
  background-color: #A7C452;
}
.cover-colors{
  display: block;
  background-color: #f1cc00cf;
  border-radius: 10px;
  padding: 10px;
}
.btn{
  background-color: #ee9800;
  color: white;
}
.btn:hover{
  color: #646363;
  text-decoration: underline;
}
.display-4 {
  font-size: 2.8rem;
}
/* Navbar redes */
.redes  a  img{
  width: 40px;
  height: auto;
}
/* Main page */
.clouds{
  position: absolute;
  z-index: -1;
  -webkit-animation: clouds 50s infinite 0s linear;
          animation: clouds 50s infinite 0s linear;
}
.clouds2{
  opacity: 0.7;
  position: absolute;
  z-index: 0;
  -webkit-animation: clouds2 50s infinite 0s linear;
          animation: clouds2 50s infinite 0s linear;
}
#logo{
  max-width: 60%;
}
#intro-box{
  height: 110vh;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
/* FAQ question */
.ver-mas{
  font-size: 1rem;
  float: right;
  padding-top: 12px;
}
.standar-intro{
  line-height: 2.2em;
}
#pregunta1, #pregunta2, #pregunta3, #pregunta4{
  color: #6c757d;
}
.panel-title a{
  color: white;
}
.panel-title a small{
  color: #f1cc00;
  font-family: ArcaMajora;
}
.botonmas{
  font-weight: 900;
}
.faq-question{
  background-color: #6c757d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  border: 0.5px;
}
.faq-response{
  background-color: white;
  padding: 10px;
  border: 0.5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Video section */
.video-section{
  height: auto;
  padding-bottom: 60px;
}
.tiras{
  margin-right: -6%!important;
  padding-bottom: 2%;
}
.shirt{
  position: absolute;
  z-index: 100;
  width: 15%;
  height: auto;
  left: 95%;
  bottom: 85%;
}
/* Shirt positon by post */
.show-videos{
  z-index: 2;
}
#video2 .shirt{
  bottom: 88%;
}
#video3 .shirt{
  bottom: 92%;
}
#video4 .shirt{
  bottom: 85.2%;
  left: 94%;
}
#video5 .shirt{
  bottom: 91.5%;
}
#video6 .shirt{
  bottom: 88%;
}
#video7 .shirt{
  bottom: 88%;
}
#video8 .shirt{
  bottom: 91.3%;
}
#video10 .shirt{
  bottom: 87.6%;
}
#video11 .shirt{
  bottom: 92.4%;
}
#video12 .shirt{
  bottom: 92.3%;
}
.video-content{
  background-color: hsla(0,0%,100%,.8);
  padding: 5%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
/* Content appear because ScrollMagic applies .video-appear-normalized to default class */
.videos-appear-normalized{
  opacity: 1!important;
}
.videos1{
  opacity: 0;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.videos-appear{
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin-top: 100px;
}
.videos2{
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.videos-appear2{
  opacity: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
#video3{
  padding-top: 4.4rem!important;
}
.videos3{
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.videos-appear3{
  opacity: 1;
  -webkit-transform: translateY(-58px);
          transform: translateY(-58px);
}
.videos4{
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#video4{
  padding-top: 5rem;
  margin-top: 100px;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}
.videos5{
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#video5{
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
}
.videos6{
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#video6{
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}
.videos7{
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
#video7{
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}
.videos8{
  opacity: 0;
  transition: all 1s ease-in;
}
#video8{
  transform: translateY(-90px);
}
.videos9{
  opacity: 0;
  transition: all 1s ease-in;
}
#video9{
  transform: translateY(-50px);
}
.videos10{
  opacity: 0;
  transition: all 1s ease-in;
}
#video10{
  transform: translateY(-17px);
}
.videos11{
  opacity: 0;
  transition: all 1s ease-in;
}
#video11{
  transform: translateY(20px);
}
.videos12{
  opacity: 0;
  transition: all 1s ease-in;
}
#video12{
  transform: translateY(40px);
}
.video-section .lead{
  line-height: 0px;
  margin-left: 1em;
}

/* Road section */
.scrolling{
  -webkit-animation: riding 0.2s infinite 0s linear;
          animation: riding 0.2s infinite 0s linear;
}
.cicla{
  padding-right: 4%;
}
/* Road img */
.road > img{
  position: absolute;
  z-index: 0;
  width: 80%;
  right: 17%;
}
/* Dates on road */
.dates img{
  position: absolute;
  width: 50px;
  right: 63%;
}
#nov9{
  bottom: 96.6%;
}
#nov16{
  bottom: 91.8%;
}
#nov19{
  bottom: 84.4%;
}
#nov26{
  bottom: 74.3%;
}
#dic3{
  bottom: 64.7%;
}
#dic10{
  bottom: calc(47.8% + var(--addDatesPosition));
}
#dic17{
  bottom: calc(41.3% + var(--addDatesPosition));
}
#dic24{
  bottom: calc(34.4% + var(--addDatesPosition));
}
#dic31{
  bottom: calc(24.4% + var(--addDatesPosition));
}
#ene8{
  bottom: 26.6%;
}
#ene14{
  bottom: 20%;
}
/* Finish flag */
#finish{
  position: absolute;
  width: 20%;
  left: 34%;
  bottom: -0.2%;
}
/* Scroll object */
#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid black;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.demo a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
/* Scroll animation */
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Riding guy animation is below! */
@-webkit-keyframes riding{
    0%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        }
    25%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
    50%{
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        }
    75%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
    100%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        }
}
@keyframes riding{
    0%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        }
    25%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
    50%{
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
        }
    75%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
    100%{
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        }
}
/* Cloud1 animation */
@-webkit-keyframes clouds{
    0%{
        }
    50%{
        -webkit-transform: translateX(180px);
                transform: translateX(180px);
        }
    100%{
        }
}
@keyframes clouds{
    0%{
        }
    50%{
        -webkit-transform: translateX(180px);
                transform: translateX(180px);
        }
    100%{
        }
}
/* Cloud2 animation */
@-webkit-keyframes clouds2{
    0%{
        }
    50%{
        -webkit-transform: translateX(-180px);
                transform: translateX(-180px);
        }
    100%{
        }
}
@keyframes clouds2{
    0%{
        }
    50%{
        -webkit-transform: translateX(-180px);
                transform: translateX(-180px);
        }
    100%{
        }
}


/* Responsive */
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) {
  .video-section{
    padding-bottom: 105%;
  }
  /* content ubication */
  .videos-appear2{
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  .videos-appear3{
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .videos-appear4{
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .videos-appear-normalized{
        -webkit-transform: translateY(80px);
                transform: translateY(80px);
  }
  #video5{
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  #video6{
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  #video7{
    -webkit-transform: translateY(220px);
            transform: translateY(220px);
  }
  #video7 .videos7{
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  #video8{
    padding-top: 420px;
    padding-bottom: 100px;
  }
  #video10{
    transform: translateY(130px);
  }
  #video11{
    transform: translateY(240px);
  }
  #video12{
    transform: translateY(380px);
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .text-responsive{
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Shirt positon by post */
  #video1 .shirt{
    bottom: 94%;
  }
  #video2 .shirt{
    bottom: 95%;
  }
  #video3 .shirt{
    bottom: 96%;
  }
  #video4 .shirt{
    bottom: 89.2%;
  }
  #video5 .shirt{
    bottom: 95.7%;
  }
  #video6 .shirt{
    bottom: 94.7%;
  }
  #video7 .shirt{
    bottom: 95%;
  }
  #video7 .shirt{
    bottom: 95%;
  }
  #video8 .shirt{
    bottom: 96.3%;
  }
  #video9 .shirt{
    bottom: 92.2%;
  }
  #video10 .shirt{
    bottom: 94.4%
  }
  #video11 .shirt{
    bottom: 96.4%
  }
  .videos1{
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  /* Road img*/
  .road > img{
    right: 11%;
  }
  /* Dates */
  .dates img{
    right: 58%;
  }
  #nov9{
    bottom: 97.7%;
  }
  #nov16{
    bottom: 92%;
  }
  #nov19{
    bottom: 84%;
  }
  #nov26{
    bottom: calc(66.5% + var(--addDatesPositionMD));
  }
  #dic3{
    bottom: calc(58.5% + var(--addDatesPositionMD));
  }
  #dic10{
    bottom: calc(49.3% + var(--addDatesPositionMD));
  }
  #dic17{
    bottom: calc(42% + var(--addDatesPositionMD));
  }
  #dic24{
    bottom: calc(33.4% + var(--addDatesPositionMD));
  }
  #dic31{
    bottom: calc(23.2% + var(--addDatesPositionMD));
  }
  #ene8{
    bottom: 25.5%;
  }
  #ene14{
    bottom: 18.3%;
  }
  /* Finish flag */
  #finish{
    left: 38%;
    bottom: -0.3%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Shirt positon by post */
  #video1 .shirt{
    bottom: 89%;
  }
  #video2 .shirt{
    bottom: 92%;
  }
  #video3 .shirt{
    bottom: 94%;
  }
  #video4 .shirt{
    bottom: 86.5%;
  }
  #video5 .shirt{
    bottom: 93.4%;
  }
  #video6 .shirt{
    bottom: 91%;
  }
  #video7 .shirt{
    bottom: 91%;
  }
  #video8 .shirt{
    bottom: 93.3%;
  }
  #video9 .shirt{
    bottom: 88%;
  }
  #video10 .shirt{
    bottom: 90%;
  }
  #video11 .shirt{
    bottom: 94.4%;
  }
  /* Road */
  .road > img{
    right: 11%;
  }
  /* Dates */
  .dates img{
    right: 58%;
  }
  #nov9{
    bottom: 97.4%;
  }
  #nov16{
    bottom: 92%;
  }
  #nov19{
    bottom: 84.3%;
  }
  #nov26{
    bottom: 74.5%;
  }
  #dic3{
    bottom: 65.8%;
  }
  #dic10{
    bottom: calc(49.7% + var(--addDatesPositionLG));
  }
  #dic17{
    bottom: calc(43% + var(--addDatesPositionLG));
  }
  #dic24{
    bottom: calc(35.4% + var(--addDatesPositionLG));
  }
  #dic31{
    bottom: 31.7%;
  }
  #ene8{
    bottom: 26.2%;
  }
  #ene14{
    bottom: 19.5%;
  }
  /* Finish flag */
  #finish{
    left: 38%;
    bottom: -0.2%;
  }
}
@media (max-width: 1199.98px) {
  .videos-appear{
    margin-top: 45px;
  }
  /* Road */
  .cicla{
    padding-right: 0%;
  }
}
